@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

.slider1 {
  background-image: url('/img/washington.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: right;
}

.contents h1{
  text-decoration: solid black;
  font-weight: 800;
  padding-right: 40px;
  margin-left: 8px;
}
.contents p{
  color: black;
  font-weight: 600;
  font-size: small;
  padding-right: 40px;
  margin-left: 14px;
}
.btn-brand {
    background-color: white;
    border-color: black;
    margin-left: auto;
    box-shadow: gray;
  
}

.btn {
    padding: 9px 24px;
    font-weight: 500;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 25px;
}
.services{
    background-color: rgba(0, 0, 0, 0.966);
}
.slide{
  padding-top: 30px;
}
 .slide h1{
    color: #ffffff;
    font-weight: bold;
 }
 .slide p{
    color: #ffffff;
    font-weight: 100;
    font-size: small;
 }

  .image img{
    margin-top: 25px;
    margin-left: 80px;
    margin-bottom: 15px;
    border-radius: 100px;
    width: 140px; 
    padding-left: 0px;
    border: 5px solid rgb(255, 251, 0);     
} 
.card{
    box-shadow: 100px;
    border-radius: 30px !important; 
}
.card-body p{
    color: black !important;
    text-align: center !important;
    font-weight: 600 !important;
    font-style: italic;
}
.card-body h5{
    font-weight: bold !important;
    text-align: center !important;
    margin-bottom: 25px  !important;
}
@media(max-width: 700px){.flex-container
    {
        flex-direction: column;
    }
}

/* HOME REAPIR SERVICES */
.text-box{
  background-image: url(/img/enr\ 4.jpg) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: right;

}


.content {
  margin-right: 50px;

}
.content h1{
  text-decoration: solid black;
  font-weight: 800;
}
.content p{
  color: black;
  font-weight: 600;
  font-size: small;
}
.content ul {
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
}

.content li {
    position: relative;
    padding-left: 0px;
    margin-bottom: 10px;
    
}

.content li::before {
    /* content: '\2713';
    position: absolute;
    left: 0;
    color: black;
    font-weight: bold; */
    content: "\2713"; /* Unicode escape sequence for checkmark symbol */
    display: inline-block;
    width: 15px;
    height: 20px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    color: white;
    margin-right: 10px;
    

  }
  .dual-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .dual-list li {
    margin: 10px 0;
  }
  
/* SERVICES */
.service-box {
    padding: 25px;
    position: relative;
    font-size: small;

}
.service-box img{
    width: unset;
}
.service-box h4{
    margin-top: 24px;
    margin-top: 12px;
}

  .service-box::before {
    content: "";
    position: absolute;
    top: -3%;
    left: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    height: 2px;
    background-color: rgb(255, 187, 0);
    z-index: -1;
    border: 2px solid rgb(255, 187, 0);

  }
  
  .service-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8%;
    top: 5%;
    transform: translateX(-50%);
    width: 10px; /* Adjust as needed */
    height: 10px; /* Adjust as needed */
    background-color: rgb(255, 187, 0);
    border-radius: 50%;
  }
  .button {
    text-align: center;
    margin-bottom: 50px;
  }
  .btn-primary{
    background-color: white;
    border-color: black;
    margin-left: auto;
    box-shadow: gray;
    text-decoration: black;
    margin-bottom: 20px;

}
.pix img{
  border-radius: 100% !important;
  width: 30% !important;
  margin-left: 10px;
  margin-top: 15px;
} 
#card-body p{
  margin-left: 10px;
}
#card-body h5{
  margin-bottom: 15px;
  margin-left: 10px;
  padding-top: 20px;
  font-weight: bold;
}
.slider2 {
  background-image: url('/img/project1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.connect h1{
  text-decoration: solid black;
  font-weight: 600;
  padding-left: 40px;
  padding-top: 80px;
}
.connect p{
  color: black;
  font-weight: 600;
  font-size: small;
  padding-left: 40px;
}
.card-content h5{
  margin-top: 10px;
}
.thick-line {
  margin-left:200px;
  width: 70%;
  height: 1px;
  background-color: black;
  border: 3px solid black;
}
.Professional{
  background-color:rgb(0, 0, 0);
}
.circle {
  width: 60px;
  height: 60px;
  background-color:rgb(255, 187, 0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.arrow {
  font-size: 40px;
}
.card-row{
  margin-left: 15px;
  margin-right: 15px;
}
.card-row h5{
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.list{
  color: black;
  margin-left: 50px;
  

}
.list h1 {
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 40px;
  

}
.list ol li{
  padding: 10px;
  font-weight: bold;
}
ol.no-bullets {
  list-style-type: none;
}
.box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
  padding-bottom: 20px;
}

.passed {
  background-color: white;
  color: solid rgb(0, 0, 0);
}
.section {
  background-image: url('/img/project5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: right;
}
.form-group h3 {
  text-align: center;
  color: #ffffff;
}
.form-group p{
  text-align: center;
  color: #ffffff;
}
.custom-btn {
  width: 300px;
  padding: 15px; 
}
.whatsapp-icon img {
  width: 63px !important;
  margin-left: 120px;

}
.livechat-icon img{
  width: 63px !important;
  margin-left: 120px;
  color: #ffffff;
}









